/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&display=swap');

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background: rgb(20, 20, 20);
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    font-family: Roboto, sans-serif;
}
